.borderless {
    border-width: 0px !important
}

td{
    padding: 20px !important;
    font-size: 25px;
    font-weight: 500;
}

tr:hover,
tr.active{
    background-color: #12151c !important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    cursor: pointer;
}

tr:hover>td>span,
tr:hover>td>strong,
tr:hover>td>.cur-label,
.green-text,
tr.active>td>span,
tr.active>td>strong,
tr.active>td>.cur-label{
    color: #009f00 !important
}

td>img,
.img-sm-circle{
    width: 35px !important;
    margin-right: 10px;
}

td>span,
td>strong,
.cur-label{
    font-weight: 500;
    font-size: 18px !important;
}

#chart-container{
    width: 100%;
    height: 100%;
}

#chartMain{
    height: 91vh
}

.p-l-20{
    padding-left: 20px !important
}

.black-lighten-3{
    background-color: #12151c !important;
}

.navbar-brand>img{
    width: 150px !important
}

li{
    margin: 2px;
    border-radius: 5px !important;
    padding-left: 10px;
    padding-right: 10px;

}

li>a,
.sm-bold-text{
    font-size: 14px !important;
    font-weight: 400 !important;
    
}

li.active,
.green-btn,
.bg-green{
    background-color: #009f00 !important;
}

.pagination li.active>.page-link{
    padding: 10px !important;
    top: 10;
    position: relative;
    background-color: transparent !important;
    box-shadow: none !important;
}

.pagination li{
    padding: .25rem!important;
}

.bg-midnight-blue{
    background-color: #1e2538 !important;
}

.bg-img-luminous{
    background-blend-mode: luminosity;
}

.green-text{
    color: #009f00 !important;
}

li.active>a,
.green-btn{
    color: #FFF !important;
}
li.active:hover>a{
    color: #fff !important; 
}

li:hover>a{
    color: #c3bfbf !important; 
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, 
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link{
    background-color: transparent !important;
}

.hero{
    background-image: url("../img/hiker-man-colour-thumbnail.png");
    background-position: right;
}

.hero-2{
    background-image: url("../img/colour-thumbnail.png");
    background-position: left;
}

.hero,
.hero-2{
    min-height: 50vh;
    background-color: #FFF;
    top: -30px;
    position: relative;
    background-attachment: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.grass-blades{
    background-image: url("../img/woosh/grass_blades.png");
    background-position: bottom;
    position: relative;
    background-attachment: absolute;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 1000;
    margin-top: -50px;
}

.login-right{
    background-image: url("../img/woosh/Login_2.png");
}

.register-right{
    background-image: url("../img/woosh/Launch_2.png");
}

.login-right,
.register-right{
    background-position: center;
    position: relative;
    background-attachment: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}


.hero h3,
.h1-responsive{
    font-size: 300%;
    font-weight: 500;
    font-family: sans-serif;
}
.bold{
    font-weight: 500;
}
.bg-grey,
.grey-card{
    background-color: #1d1f25;
}
.grey-card{
    border-radius: 10px;
}

.grey-card>h3,
.m-b-30{
    margin-bottom: 30px;
}

.grey-card>span{
    font-size: 14px !important;
    margin-bottom: 30px;
}

body{
    overflow-x: hidden !important;
}

.overflow-x-hidden{
    overflow-x: hidden !important;
}

.align-text-center{
    text-align: center !important;
}

.align-text-right{
    text-align: right !important;
}

.align-text-left{
    text-align: left !important;
}

.center{
    margin-left: auto !important;
    margin-right: auto !important;
}


.card-head{
    margin-left:8px !important; 
    margin-right: 8px !important;
    border-bottom: 1px solid #d7d7d7;
}

.align-end{
    text-align: end !important;
}

.fs-14{
    font-size: 14px !important;
}

.small-table>thead>tr>th>span,
.small-table>tbody>tr>td>span{
    padding: 0px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

main{
    margin-top: 80px;
}

.img-sm{
    width: 20px !important;
}

.plans-container{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-x: hidden;
}

.text{
    color: #464646
}

.E404{
    background-image: url("../img/woosh/404.png");
}

.E500{
    background-image: url("../img/woosh/Smth_Went_Wrong_2.png");
}

.NOREV{
    background-image: url("../img/woosh/Social.png");
}

.NORESULT{
    background-image: url("../img/woosh/no_results.png");
}

.success{
    background-image: url("../img/woosh/Launch.png");
}

.checkout{
    background-image: url("../img/woosh/Ecommerce.png");
}

.VR{
    background-image: url("../img/woosh/VR.png");
}

.E232{
    background-image: url("../img/woosh/232.png");
    background-position: center;
    background-attachment: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-sm-rounded{
    padding: 4px !important;
    border-radius: 100px !important;
    height: 30px !important;
    width: 30px !important;
}

img.btn-sm-rounded{
    height: 40px !important;
    width: 40px !important;
}

.avatar-rounded{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid #F5F5F5;
    padding: 3px;
}

.E404,
.E500,
.success,
.has-background{
    min-height: 50vh;
    background-position: center;
    background-attachment: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.side-bar{
    width: 300px;
    position: fixed;
    top: 50px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.side-bar .side-left{
    width:100%
}

.avatar{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 10px;
    background-color: #FFF;
}

.card-img-container{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.lg-card-img-container{
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.neg-mt-10{
    top: -8px;
    position: relative;
}

.video-container{
    width: 100%;
    height: 70vh;
}

.video-link-btn{
    bottom: 0px !important;
    right: 0px !important;
    position: absolute !important;
}

.review-footer{
    /* bottom: 15px !important;
    position: absolute; */
    width: 100% !important;
}

body{
    overflow-x: hidden;
}

.sponsor-list-item.in-progress{
    background-color: #03a9f4 !important;
}

.sponsor-list-item.is-completed{
    background-color: #00796b !important;
}

.sponsor-list-item.in-progress strong,
.sponsor-list-item.in-progress small,
.sponsor-list-item.in-progress span,
.sponsor-list-item.is-completed strong,
.sponsor-list-item.is-completed small,
.sponsor-list-item.is-completed span{
    color: #FFF !important
}

.featured-card:hover{
    /* margin-top:-5px !important; */
    box-shadow: 0 .5rem 1rem  #009f0059!important
}

.profile-update-container{
    margin-bottom:30px;
}

.profile-update-container>.profile-update-title{
    padding-left:10px;
    padding-top:20px;
    border-bottom: 3px solid #009f00;
    margin-bottom: 30px;
}

/* .profile-update-container>.profile-update-title>h5{
     font-weight: 600; 
} */

.profile-update-container>.profile-update-title>h5>a{
    width:100%;
    color: #009f00 !important;
}


@media only screen and (max-width: 600px) { 
    /* mobile devices */
    main{
        margin-top: 70px !important;
    }
    .hidden-sm{
        display: none !important;
    }
    .grey.lighten-4{
        background-color: #FFF !important;
    }
    .align-end{
        text-align: left !important;
    }
    .hero-mask{
        background-color: #bdbdbd4f !important;
    }
    .hero-2-mask{
        background-color: #fff !important;
    }
    .side-bar{
        flex-basis: auto !important;
        -webkit-box-flex: unset !important;
        flex-grow: unset !important;
        z-index: 1000;
        top: 0px;
        position: fixed;
        height: 100vh;
    }
    .side-bar .side-left{
        width:73%
    }
    .lead {
        font-size: 1rem !important;
    }
    .video-container{
        height: 50vh;
    }
}

@media only screen and (min-width: 600px) { 
    .hidden-md{
        display: none !important;
    }
}